---
import Logout from "./Logout.astro";
---

<nav
  class="flex flex-col md:flex-row justify-evenly items-center text-center content-evenly max-h-[30vh] w-[100vw]"
>
  <a
    class="justify-start"
    href="/dashboard"
    ><img
      class="w-[150px] md:ml-4"
      src="logo.png"
    /></a
  >
  <ul class="flex gap-6 text-center m-auto text-[22px] md:text-sm">
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/tiendas"
        >Tiendas</a
      >
    </li>
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/trabajadores"
        >Trabajadores</a
      >
    </li>
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/horarios"
        >Horarios</a
      >
    </li>
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/ventas"
        >Ventas</a
      >
    </li>
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/encargos"
        >Clientes</a
      >
    </li>
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/encargos"
        >Encargos</a
      >
    </li>
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/proveedores"
        >Proveedores</a
      >
    </li>
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/compras"
        >Compras</a
      >
    </li>
    <li>
      <a
        class="hover:text-[--blackColor] hover:bg-[--whiteColor]"
        href="/productos"
        >Productos</a
      >
    </li>
  </ul>

  <div class="">
    <a href="#"><Logout isLogged={false} /></a>
  </div>

  <style>
    a {
      padding: 5px;
      margin: 2px;
    }
  </style>
</nav>
