---
import Layout from "../../layouts/Layout.astro";

import Sidebar from "../../components/Sidebar.astro";

import Tiendas from "../../components/shops/Tiendas.jsx";
---

<Layout pageTitle="Tiendas">
  <main class="flex flex-col md:flex-row justify-center h-[100vh]">
    <Sidebar
      actions={["Create", "Update", "Delete", "Filter"]}
      h3Text="Tiendas page"
      descrText="Aqui podras manejar las tiendas y unidades de negocio de tu companyia"
    />
    <Tiendas client:load/>
  </main>
</Layout>