---
import Layout from "../../layouts/Layout.astro";

import Sidebar from "../../components/Sidebar.astro";

import CrearTienda from "../../components/CrearTienda.jsx";
---

<Layout pageTitle="Tiendas">
  <main class="flex flex-col md:flex-row">
    <CrearTienda client:load/>
  </main>
</Layout>