---
// CREATING THE PROPS OF THE COMPONENT
interface Props {
  pageTitle: String;
}

const { pageTitle } = Astro.props;

// GLOBAL COLOR SCHEMA
const mainRed = "#DA172A";
const darkRed = "#910014";
const blackColor = "#272727";
const whiteColor = "#F0F0F0";
const greyColor = "#6A6A6A";
const successColor = "#02BA29";
const warningColor = "#FFD12A";

// IMPORTING SIDEBAR AND MENU COMPONENTS
import Menu from "../components/Menu.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="description"
      content="Business entity site for data managing of a business"
    />
    <link
      rel="icon"
      type="image/png"
      href="favicon.png"
    />
    <title>Business Entity - {pageTitle}</title>
  </head>
  <body>
    <header>
      <Menu />
    </header>
    <slot />
  </body>

  <style
    is:global
    define:vars={{
      mainRed,
      darkRed,
      blackColor,
      whiteColor,
      greyColor,
      successColor,
      warningColor,
    }}
  >
    body {
      margin: 0px;
      padding: 0px;
      overflow: hidden;
      height: 100vh;
      width: 100vw;
      color: var(--whiteColor);
    }

    nav {
      background-color: var(--blackColor);
      width: 100vw;
    }
  </style>
</html>
