---
import Layout from "../layouts/Layout.astro";

import Sidebar from "../components/Sidebar.astro";
import DashboardMain from "../components/DashboardMain";
---

<Layout pageTitle="Dashboard">
  <div class="flex flex-col md:flex-row">
    <Sidebar
      actions={["Create", "Update", "Delete", "Filter"]}
      h3Text="Dashboard page"
      descrText="Aqui podras ver el resumen de datos principal de tu negocio."
    />
    <DashboardMain client:load />
  </div>
</Layout>
