---
import Login from "../components/Login";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="description"
      content="Business entity site for data managing of a business"
    />
    <link
      rel="icon"
      type="image/png"
      href="favicon.png"
    />
    <title>Business Entity - Login</title>
  </head>
  <body>
    <main
      class="flex justify-center min-h-screen min-w-screen bg-[#DA172A] bg-gradient-to-r from-[#DA172A] to-[#910014]"
    >
      <Login client:load />
    </main>
  </body>
</html>
